<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout::view(~{::title},~{::main})}"
>
<head>
<meta charset="UTF-8">
<title>Carts</title>
</head>
<body>
	<main>
		<!-- breadcrumb -->
		<div class="container">
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a
					th:href="@{/}"
					class="stext-109 cl8 hov-cl1 trans-04"
				>Home<i
					class="fa fa-angle-right m-l-9 m-r-10"
					aria-hidden="true"
				></i>
				</a> <span class="stext-109 cl4">History Cart</span>
			</div>
		</div>


		<!-- Shoping Cart -->
		
	
	</main>
</body>
</html>